@media(max-width: 1280px) {
    .main {
        flex-direction: column;
        justify-content: center;
        /* padding: 10px; */
        margin: 10px;
    }

    .sidebar {
        min-width: 100%;
        text-align: center;
        align-items: center;
    }

    .content {
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .sobre {
        text-align: center;
        align-items: center;
        text-align: start;
        align-items: center;
        justify-content: center;
    }

    .sobre p {
        font-size: 22px;
    }

    .xp{
        text-align: start;
        margin: 0;
        text-align: start;
        align-items: center;
    }


    .xp ul {
        min-width: 100%;
        list-style: none;
        margin: 10px;
        padding: 10px;
    }

    .xp p {
       max-width: 100%;
       font-size: 22px;
    }
}