body {
    background-color: #f0f2f5;
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}


.sidebar {
    display: flex;
    flex-direction: column;
    height: 92.6em;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 3px 10px black;
    background-color: #282828;
    color: white;
}

.sidebar h2 {
    font-family: "Poppins";
    font-weight: 500;
    margin: 10px 0;
    font-size: 30px;
}

.imagem-pesssoal {
    height: 240px;
    width: 240px;
    margin: 10px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 3px solid #0e0d0d;
}

.links a {
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.links p {
    font-family: "Poppins";
    margin: 10px 0;
}

.links a:hover {
    text-decoration: underline;
    color: purple;
}

.links-icons {
    height: 24px;
    margin: 0 0 0 14px;
}

.lista-tecnologias{
    margin: 10px 24px;
    padding: 10px 0;
}
.lista-habilidades{
    margin: 10px 24px;
    padding: 10px 0;
}

.lista-idiomas {
    margin: 10px 24px;
    padding: 10px 0;
}

.content {
    width: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sobre {
    box-shadow: 0 3px 14px black;
}

.sobre-icon {
    display: flex;
    margin: 10px;
    align-items: center;
}

.sobre-img {
    height: 45px;
    margin: 10px;
}

.sobre h2 {
    font-size: 30px;
    font-family: "Poppins"
}

.sobre p {
    padding: 10px;
    text-align: start;
    font-size: 16px;
    margin: 10px 5px;
    font-family: "Poppins"
}

.xp {
    box-shadow: 0 3px 14px black;

}

.xp-icon {
    display: flex;
    margin: 10px;
    align-items: center;
}

.xp-img {
    height: 50px;
    margin: 10px;
}

.xp h2 {
    font-size: 30px;
    font-family: "Poppins"
}

.xp ul {
    margin: 10px 22px;
    padding: 10px 0;
}

.xp ul li {
    margin: 8px;
}

.xp ul a {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-size: 24px;
    font-family: "Poppins"
}

.xp ul a:hover {
    text-decoration: underline;
    color: purple;
}

.xp p {
    padding: 10px;
    margin: 10px 5px;
    font-size: 16px;
    color: rgb(14, 13, 13);
    font-family: "Poppins"
}

.edu {
    box-shadow: 0 3px 14px black;
}

.edu-icon {
    display: flex;
    margin: 10px;
    align-items: center;
}

.edu-img {
    height: 56px;
    margin: 10px;
}

.edu h2 {
    font-size: 30px;
    font-family: "Poppins"
}

.edu ul {
    margin: 10px 22px;
    padding: 10px 0;
}

.edu ul li {
    margin: 8px;

}

.edu ul a {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-size: 16px;
    font-family: "Poppins"
}

.edu ul a:hover {
    text-decoration: underline;
    color: purple;
}



.git {
    box-shadow: 0 3px 14px black;
}

.git-icon {
    display: flex;
    align-items: center;
    margin: 10px;
}

.git-img {
    height: 56px;
    margin: 10px;
}

.git h2 {
    font-size: 30px;
    font-family: "Poppins"
}

.git ul {
    margin: 10px 22px;
    padding: 10px 0;
}

.git ul li {
    margin: 8px;
    font-size: 16px;
}

.git ul a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-family: "Poppins"
}

.git ul a:hover {
    text-decoration: underline;
    color: purple;
}

h2 {
    padding: 16px;
    font-family: "Poppins"
}

footer {
    text-align: center;
}

footer a {
    color: rgb(14, 13, 13);
    text-decoration: none;
    font-family: "Poppins";
}

footer a:hover{
    text-decoration: underline;
    color: rgb(134, 2, 134);
}